.navbar-brand img {
    height : 1.5rem;
}
#foto-perfil{
    max-height: 30vh;
    max-width: 30vh;
    overflow: hidden;
}
#perfil {
    position: relative;
    top: -10vh;
    margin-bottom: -10vh;;
    z-index: 1;
}
#carousel-portada {
    height: 60vh;
    overflow: hidden;
}